* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #C0C0C0;
}

nav {
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
}

.homepage-icon, .resume-icon, .projects-icon {
    width: 40px;
    padding: 5px;
}

.homepage-icon-div {
    align-content: flex-start;
}

.restof-icons-div {
    align-content: flex-end;
}
    

.divider { 
    border: 1px dashed darkgrey;
}

section {
    margin: 10px 20px;
}

.me {
    height: 300px;
    max-width: 400px;
    border-radius: 50%;
    padding: 10px 0;
}

.jump-to-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.jump-to-list a {
    text-decoration: none;
    font-size: 20px;
}

.jump-to-list a:hover {
    text-decoration: underline;
    background-color: grey;
}

footer {
    display: 
}
