* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: rgb(158, 158, 158);
}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
}

img {
    width: 100%;
    
}

header{
    height: 3rem;
    display: flex;
    background-image:radial-gradient(rgb(141, 141, 141) 25%, rgba(158, 158, 158, 0) 75%);
    justify-content: space-between;
    width: 100%;
}

.homepage-icon, .projects-icon,  .resume-icon, .linkedin, .instagram {
    width: 28px;
    padding: 10px 20px;
}

.home-title {
    padding-left: .05rem;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    background-color: rgb(158, 158, 158);
}

.intro, footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; 
    align-content: center;
    flex-direction: row;
    text-align: center;
    background-image:radial-gradient(rgb(141, 141, 141) 25%, rgba(158, 158, 158, 0) 75%);
}

.intro {
    border-bottom: 2px ridge grey;
}

.me, .title {
    width: 47%;
}

.travel-shot {
    transform: rotate(90deg);
    object-fit: center/cover;
    width: 15rem;
    margin-left: 3rem;
    border-radius: 10px 10px;
    border-top: 3px solid rgb(65, 65, 65);
    border-right: 3px solid rgb(65, 65, 65);
}

.me {
    border-radius: 50%;
    padding: .25rem 0;
    padding-right: .25rem;
    max-width: 45%;
}

.title {
    justify-self: center;
    align-self: center;
    width: 50%;
    font-size: ;
}

.social-title {
    justify-self: center;
    width: 100%
}

.link-list {
    display: flex;
    text-align: center;
    width: 100%;
    padding: .45rem 0;
    justify-content: space-evenly;
}

.title-divider {
    width: 200%; 
    justify-self: center;
    border-top: 2px solid black;
    margin: .35rem 0;
    padding-top: .35rem;
}

.divider {
    align-self: center;
    border-top: .25rem solid rgb(105,105,105);
    background-color: grey;
}

.info-section, .intro {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(195, 195, 195);
    justify-self: space-evenly;
    max-width: 400;
    border-bottom: .25rem solid rgb(65, 65, 65);
    border-right: .25rem solid rgb(65, 65, 65);
    border-radius: .5rem;
    margin: .5rem;
}

.info-lower-section {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;

}

.info-title {
    font-size: 2rem;
    position: relative;
    top: 15px; 
    left: 10px;
}

.where-img, .why-img, .who-img {
    margin: .45rem;
    border-radius: 10px 10px;
}

.where-img {
    background: linear-gradient(rgba(163, 163, 163, 0.8), rgba(0, 0, 0, 0.5)), url("images/riverwalk.jpg") center/cover no-repeat;
    width: 100%;
    height: 8rem;
    border-bottom: 3px solid rgb(65, 65, 65);
    border-right: 3px solid rgb(65, 65, 65);
}

.who-img {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)), url("images/psychology.jpg") center/cover no-repeat;
    width: 100%;
    height: 8rem;
    border-bottom: 3px solid rgb(65, 65, 65);
    border-right: 3px solid rgb(65, 65, 65);
}

.why-img {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)), url("images/red-s.jpeg") center/cover no-repeat;
    width: 100%;
    height: 8rem;
    border-bottom: 3px solid rgb(65, 65, 65);
    border-right: 3px solid rgb(65, 65, 65);
}

.info {
    padding: 1rem;
}

.info-part1, .info-part2, .info-part3 {
    margin: .25rem .15rem;
}

.info-part3 {
    width: 45%;
}

.picture-div {
    margin: .75rem;
    border-radius: .75rem;
    border-bottom: 3px solid rgb(65, 65, 65);
    border-right: 3px solid rgb(65, 65, 65);
}

/*--------- Project Page Tags ---------*/

.projects-title {
    display: flex;
    text-align: center;
    background-color: grey;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.github-link {
    margin: .25rem 1rem;
}

.project-1, .project-2 {
    padding: .45rem;
    margin: .45rem .5rem;
    border-radius: .65rem;
}

.project-1 {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)), url("images/small-business.png") center/cover no-repeat;
    width: 100%;
    height: 8rem;
    border-bottom: 3px solid rgb(65, 65, 65);
    border-right: 3px solid rgb(65, 65, 65);
}

.project-2 {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)), url("images/dog-adoption-screenshot.png") center/cover no-repeat;
    width: 100%;
    height: 8rem;
    border-bottom: 3px solid rgb(65, 65, 65);
    border-right: 3px solid rgb(65, 65, 65);
}

/* -------- Resume Page -------- */

.main-container {
    display: flex; 
    flex-direction: column;
}

.main-title {
    align-self: center;
}

.education {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
}

.middle-info {
    background-color: rgb(131, 130, 130);
}

.formal-education {
    background-color: rgb(131, 130, 130);
}

.contacts {
    list-style: none;
    justify-content: space-around;
}